<!DOCTYPE html>
<% function linkify(text) { var enc = escape(text.replace(/\[[^\]]+\]/g, '')); %>
<% if (text.indexOf('class ') === 0) { %>
<a href="#<%- text.substr(6).toLowerCase() %>"><%- enc.substr(6) %></a>
<% } else if (text.indexOf('valuetype ') === 0) { %>
<a href="#<%- text.substr(10).toLowerCase() %>"><%- enc.substr(10) %></a>
<% } else { %>
<%- enc %>
<% }
} %>
<html>
<head>
	<title>Hyperloop &middot; Windows Documentation</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<style type="text/css">
		#search {
			position: fixed;
			bottom: 0;
			right: 0;
			left: 0;
			height: 46px;
			box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
		}

		#searchSpacer {
			height: 46px;
		}

		h4 {
			color: #5bc0de;
		}

		.result {
			margin: 20px 0;
			padding: 5px 20px;
			border-left: 3px solid #5bc0de;
		}
	</style>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>

<div id="search" class="form-group">
	<input type="text" class="form-control input-lg text-center" id="filterClassNames"
		   placeholder="Enter Class Name">
</div>

<div id="results" class="container">
	<% Object.keys(classes).sort().forEach(function(type) {
		var cls = classes[type];
	%>
	<div class="result show" id="<%- type.toLowerCase() %>">
		<h2><% linkify('class ' + type) %></h2>
		<% if (cls.extends) { %><h5>extends <% linkify('class ' + cls.extends) %></h5><% } %>
		<% if (cls.implements) { cls.implements.forEach(function(imp) { %><h5>implements <% linkify('class ' + imp) %></h5><% }); } %>
		<div class="loadInto" data-target="<%- type.toLowerCase().replace(/[^a-z\.]/g, '') %>">
			<button type="button" class="btn btn-default btn-lg">Load More Information</button>
		</div>
	</div>
	<% }); %>
</div>

<<%- 'script' %>>
	var filter = $('#filterClassNames'),
		classes = <%- JSON.stringify(Object.keys(classes).sort()).toLowerCase() %>;
	filter.change(_.debounce(function() {
		var val = filter.val().toLowerCase(),
			matches = classes.filter(function(c) { return c.indexOf(val) >= 0; });
		if (!val) {
			$('#results > .hidden').removeClass('hidden').addClass('show');
		}
		else {
			$('#results > .show').addClass('hidden').removeClass('show');
			for (var i = 0, iL = Math.min(10, matches.length); i < iL; i++) {
				var res = document.getElementById(matches[i]);
				$(res).addClass('show').removeClass('hidden');
			}
		}
	}, 500));
	$('#results .loadInto').click(function() {
		$(this).load('types/' + $(this).data('target') + '.html');
	});
<<%- '/script' %>>

<div id="searchSpacer"></div>

</body>
</html>
