<% function linkify(text) { var enc = escape(text.replace(/\[[^\]]+\]/g, '')); %>
<% if (text.indexOf('class ') === 0) { %>
<a href="#<%- text.replace(/\./g, '_').substr(6) %>"><%- enc.substr(6) %></a>
<% } else if (text.indexOf('valuetype ') === 0) { %>
<a href="#<%- text.replace(/\./g, '_').substr(10) %>"><%- enc.substr(10) %></a>
<% } else { %>
<%- enc %>
<% }
} %>
<h4>Attributes</h4>
<strong><%- cls.attributes.join('</strong> / <strong>') %></strong>
<% if (cls.properties) { %>
<h4>Properties</h4>
<ul>
	<% Object.keys(cls.properties).sort().forEach(function(propName) { var prop = cls.properties[propName]; %>
	<li>
		<strong><%- propName %></strong>
		<ul>
			<li>
				<small>type</small> <%- prop.type %></li>
			<li>
				<small>returns</small>
				<% linkify(prop.returnType) %>
			</li>
		</ul>
	</li>
	<% }); %>
</ul>
<% } %>
<% if (cls.methods && cls.methods.length) { %>
<h4>Methods</h4>
<ul>
	<% cls.methods.forEach(function(method) { %>
	<li>
		<strong><%- method.name %></strong>
		<ul>
			<% if (method.args && Object.keys(method.args).length) { %>
			<li>
				<small>args</small>
				<ul>
					<% method.args.forEach(function (arg) { %>
					<li><%- arg.name %>
						<% linkify(arg.type) %>
						<i><%- arg.inout %></i></li>
					<% }); %>
				</ul>
				<% } %>
			<li>
				<small>returns</small>
				<% linkify(method.returnType) %>
			</li>
		</ul>
	</li>
	<% }); %>
</ul>
<% } %>